<% wrap_layout :layout do %>
  <nav>
    <%= link_to "pH", "/", { :class=>"logo" } %>
    <ul>
      <%= link_to "Profile", "/", { :class=>"current-nav-tab" } %>
      <%= link_to "Work", "/work" %>
      <%= link_to "Blog", "/blog" %>
    </ul>
  </nav>
  <%= yield %>
<% end %>
