<% wrap_layout :layout do %>
  <nav>
    <div class="nav-logo-wrap">
      <%= link_to "pH", "/", { :class=>"nav-logo" } %>
    </div>
    <div class="nav-links-wrap">
      <%= link_to "Profile", "/",{ :class=>"nav-link" } %>
      <%= link_to "Work", "/work", { :class=>"nav-link mod-active" } %>
      <%= link_to "Blog", "/blog", { :class=>"nav-link" } %>
    </div>
  </nav>
  <%= yield %>
<% end %>
