<nav>
  <%= link_to "pH", "/index.html", { :class=>"logo" } %>
  <ul>
      <%= link_to "Profile", "/index.html" %>
      <%= link_to "Work", "/work/index.html", { :class=>"current-nav-tab" } %>
      <%= link_to "Blog", "/blog/index.html" %>
  </ul>
</nav>

<div class=work-intro>
  <div class="work-intro-inner-border-wrap">
  <p class="work-intro-title-text"> Currently building this part :)</p>
  <p class="work-intro-subtitle-text">User experience above all ! Here are some the apps I've developed.</p>
  </div>
</div>

<div class="case-study mod-buddybounce">
  <div class="case-study-text-wrap">
    <p class="case-study-title mod-align-right">Buddybounce</p>
    <p class="case-study-subtitle mod-align-right">Modern day fan club for fans of musicians.</p>
    <%= link_to "See more", "/work/index.html", { :class=>"case-study-link mod-align-right" } %>
  </div>
  <div class="iphone5-wrap">
    <div class="iphone5 mod-align-left">
      <div class="screen"
        style="background-image: url(/assets/buddybounce-screenshot.jpg)">
      </div>
    </div>
  </div>
</div>

<div class="case-study mod-mesvaccins">
  <div class="case-study-text-wrap mod-shift-right-half">
    <p class="case-study-title mod-align-left">MesVaccins</p>
    <p class="case-study-subtitle mod-align-left">A smart immunisation record. Find out if you're up to date with your vaccinations !</p>
    <%= link_to "See more", "/work/index.html", { :class=>"case-study-link mod-align-left"}%>
  </div>
  <div class="iphone5-wrap mod-shift-left-half">
    <div class="iphone5 mod-align-right">
      <div class="screen"
        style="background-image: url(/assets/mesvaccins-screenshot.png)">
      </div>
    </div>
  </div>
</div>
