<nav>
  <%= link_to "pH", "/index.html", { :class=>"logo" } %>
  <ul>
      <%= link_to "Profile", "/index.html" %>
      <%= link_to "Work", "/work/index.html", { :class=>"current-nav-tab" } %>
      <%= link_to "Blog", "/blog/index.html" %>
  </ul>
</nav>

<div class=work-intro>
  <div class=wrap>
    <div class=text-wrap>
      <p> Currently building this part !</p>
      <p class=title>User experience above all.</p>
      <p class=subtitle>Here are some the apps I've developed. I always try to make apps that are delightful to use.
        That’s why I obsess over the smallest technical details and care about how the app looks and feels.</p>
    </div>
  </div>
</div>

<div class=case-study>
  <div class="background"
    style="background-image: url(/assets/buddybounce-background.jpg)"></div>
  <div class="study-text-align-right">
    <h5>Buddybounce</h5>
    <p>The modern day fan club for fans of musicians.</p>
    <%= link_to "See more", "/work/index.html"%>
  </div>
  <div class="iphone5-wrap-align-right">
    <div class="iphone5">
      <div class="screen"
        style="background-image: url(/assets/buddybounce-screenshot.png)">
      </div>
    </div>
  </div>
</div>

<div class="case-study">
  <div class="background"></div>
  <div class="study-text-align-left">
    <h5>MesVaccins</h5>
    <p>The smart immunisation record. Find out if you're up to date with your vaccinations !</p>
    <%= link_to "See more", "/work/index.html"%>
  </div>
  <div class="iphone5-wrap-align-left">
    <div class="iphone5">
      <div class="screen"
        style="background-image: url(/assets/mesvaccins-screenshot.png)">
      </div>
    </div>
  </div>
</div>
